@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(237, 237, 161) 0%, rgb(203, 148, 233) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    background-color: black;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    color: #fff;
    border: 5px solid #fff;
    box-shadow:0px 0px 10px rgba(255,255, 255, 0.7), 0px 0px 20px rgba(0,0,0,0.7);
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}

.clock ul li span {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock:after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
.needle{
    display: flex; 
    justify-content: center;
    align-items: flex-end;
}

.needle span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    border-radius : 5px;
    position: absolute;
}